<form action="/", method='POST'>
  <input type="text" name="name"></input>
  <input type="text" name="description"></input>
  <button type="submit" value="Display" formaction="/display">Display</button>
  <button type="submit" formaction="/new">Submit</button>
</form>
